.sidebar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100vh;
    position: fixed;
    padding-top: 2rem;
}

.sidebar-list {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0.5rem 2rem;
    cursor: pointer;
}

.sidebar-list:nth-child(1) {
    background-color: rgb(29, 29, 29);
}

.active-sidebar {
    background-color: rgb(168, 61, 22);
}