p {
    padding: 0;
    margin: 0;
}

.post {
    margin-top: 1rem;
    background-color: rgb(26, 26, 26);
    border-radius: 0.5rem;
    position: relative;
}

.feed-post-form {
    background-color: rgb(26, 26, 26);
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    gap: 0.5rem;
}

.feed-post-form-input {
    min-height: 5rem;
    width: 100%;
    resize: none;
    border: 0;
    outline: 0;
    background-color: #242424;
    padding: 0.5rem 1rem;
    padding-top: 1rem;
    font-family: inherit;
    border-radius: 0.3rem;
    color: rgba(255, 255, 255, 0.87);
    line-height: 1.5rem;
    letter-spacing: 2px;
}

.post-attachments {
    display: flex;
    height: 2rem;
}

.add-to-post {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0.65rem;
    cursor: pointer;
}

.post-user-profile {
    display: flex;
    padding: 1.2rem;
    padding-bottom: 0;
    justify-content: space-between;
}

.post-user-profile div:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 0.85rem;
}

.post-menu {
    font-size: 1.1rem;
    cursor: pointer;
}

.post-profile-img {
    width: 4rem;
    border-radius: 0.3rem;
    overflow: hidden;
    background-color: black;
    object-fit: cover;
}

.post-profile-img img {
    max-width: 100%;
    margin: 0;
    display: block;
}

.post-image {
    padding: 0 3rem;
}

.post-image img {
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: block;
}

.post-image video {
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: block;
}

.post-text {
    font-size: 0.8rem;
    line-height: 1.5rem;
    padding: 0.8rem 1.2rem;
    border-bottom: 1px solid rgb(41, 41, 41);
    font-weight: 300;
    letter-spacing: 1px;
}

.post-reactions {
    display: flex;
    justify-content: space-around;
    padding: 0.8rem 0;
    font-size: 0.8rem;
    border-top: 1px solid rgb(41, 41, 41);
}

.post-icon {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    cursor: pointer;
}

.post-user-details {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
}

.post-user-details span:nth-child(2) {
    font-size: 0.6rem;
    background-color: rgba(54, 54, 54, 0.87);
    padding: 0.1rem 0.4rem;
    border-radius: 0.3rem;
    width: fit-content;
    color: rgb(240, 240, 240);
}

.hide-comment {
    display: none;
}

.emoji aside {
    width: 100% !important;
    height: 300px !important;
    background-color: #242424;
    border-color: #3f3f3f !important;
}

.epr-preview {
    height: 40px !important;
}

.epr-emoji-category-label {
    background-color: #242424 !important;
}

.epr-preview img {
    width: 25px !important;
    height: 25px !important;
    font-size: 25px !important;
}

.epr-category-nav {
    padding: 5px;
}

.liked {
    color: rgb(168, 61, 22);
}

.post-length {
    font-size: 0.65rem;
    margin-left: auto;
}