* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.notification {
    position: absolute;
    top: 15%;
    left: 50%;
    z-index: 101;
}

.notif-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0.3rem 0.8rem;
    align-items: center !important;
    background-color: rgb(139, 50, 18);
    gap: 1rem;
    border-radius: 0.2rem;
    font-size: 0.85rem;
    max-width: 600px;
    word-break: break-word;
}

.close-notif {
    font-weight: bolder;
    font-size: 1.5rem;
    cursor: pointer;
    color: #fff;
    transition: 0.2s;
    margin-top: 0.2rem;
}

.close-notif:hover {
    color: rgb(247, 139, 100);
    transition: 0.2s ease-in;
}

.hide-notif {
    display: none;
}